# Python virtual environments
api/venv/
**/__pycache__/

# IDE settings
.idea/
.vscode/
.mypy_cache/

# Node.js dependencies
client/node_modules/
frontend/node_modules/
.idea
api/venv
api/.env
frontend/admin/node_modules
frontend/admin/dist
frontend/litho/node_modules
/node_modules
frontend/litho/.cursor 
frontend/admin/.cursor
api/.cursor
frontend/litho/build